<script src="../media/js/uploadfy/swfobject.js" type="text/javascript"></script>
<script src="../media/js/uploadfy/jquery.uploadify.v2.1.0.js" type="text/javascript"></script>
<div class="container-fluid">
	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
				急救人员管理 <small>$!xtJjry.xm</small>
			</h3>
			<ul class="breadcrumb">
				<li><i class="icon-home"></i> <a href="index.htm">首页</a> <i
					class="icon-angle-right"></i></li>
				<li><a href="#">急救人员管理</a><i class="icon-angle-right"></i></li>
				<li><a href="#">新增急救员资质图片</a></li>
				<li class="pull-right no-text-shadow">
					<div id="dashboard-report-range"
						class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive"
						data-tablet="" data-desktop="tooltips" data-placement="top"
						data-original-title="Change dashboard date range">
						<i class="icon-calendar"></i> <span></span> <i
							class="icon-angle-down"></i>
					</div>
				</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
			<button id="xtjjryzzList" class="btn black">
				返回 <i class="icon-arrow-left"></i>
			</button>
			<br />
			<br />
			<form id="xtJjryzzForm" action="xtJjryzzSave.htm"
				class="form-horizontal" method="POST">
				<input type="hidden" name="id" value="$!xtJjryzz.id">
				<input   name="ryid" type="hidden" value="$!xtJjry.id"/>
				<div class="control-group">
					<label class="control-label">上传急救员资质图片(支持同时多张):</label>
					<div class="controls">
						<input class="m-wrap medium" type="file" name="uploadify"
						id="uploadify"	> <span class="help-inline"><font
							color="red">*</font></span>
					</div>
					<div id="fileQueue"></div>
				</div>
				
			</form>

			<br />
		</div>
	</div>
</div>

<script type="text/javascript" src="../media/js/select2.min.js"></script>
<script type="text/javascript" src="../media/js/jquery.form.js"></script>

<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN PAGE LEVEL PLUGINS -->

<!-- END PAGE LEVEL PLUGINS -->

<script>
	jQuery(document).ready(function() {  

		   $("#uploadify").uploadify({
	            'uploader': '../media/js/uploadfy/uploadify.allglyphs.swf',
	            'script':"xtJjryzzSave.htm",
	            'cancelImg': '../media/js/uploadfy/cancel.png',
	            'folder'    :   "uploads",//上传文件存放的路径,请保持与uploadFile.jsp中PATH的值相同 
	            'queueID': 'fileQueue',
	            'method'   : 'post',//方法，服务端可以用$_POST数组获取数据
	            'auto': true,
	            'buttonText': 'select',
	            'scriptData'     :{'ryid':'$!xtJjry.id'}, // 多个参数用逗号隔开
	            'simUploadLimit' : 1,
	            'queueSizeLimit' : 1,
	            'fileExt': '*.jpg;*.gif;*.jpeg;*.png;*.bmp;',
	            onComplete: function(event, queueID, fileObj, response, data) {
	                //转换为json对象
	                var dataObj = eval("("+response+")");
	                saveFile(dataObj);
	            },
	            onSelect:function(){
	            },
	            onError: function(event, queueID, fileObj) {
	                alert("文件:" + fileObj.name + "上传失败");
	            }
	        });
	
		$("#xtjjryzzList").on("click", XtJjryzzEdit.xtJjryzzListOnClick("$!xtJjry.id"));   
			$('#xtJjryzzForm').submit(function() {
			
		        $(this).ajaxSubmit({
		        	success: function(data){
		        		alert("保存成功！");
		            },
		            error: function(data){
		                alert("保存失败！");
		            }
		        });
		        
		        return false; //阻止表单默认提交
		    }); 
			$("#xtJjryzzSave").on("click", XtJjryzzEdit.xtJjryzzFormSubmit());
		   
			$("#page-content").height("auto");
	});
	
</script>
<!-- END JAVASCRIPTS -->
