<div class="container-fluid">
	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
				    比赛用设别管理 <small>急救人员资质审核</small>
			</h3>
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="../index.htm">首页</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">急救人员管理 </a></li>
				<li class="pull-right no-text-shadow">
					<div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
						<i class="icon-calendar"></i>
						<span></span>
						<i class="icon-angle-down"></i>
					</div>
				</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
			<div style="float:left;">
			<button id="xtJjryAdd" class="btn green">
			新建 <i class="icon-plus"></i>
			</button>
			<button id="xtJjryImp" class="btn yellow">
			导入 <i class="icon-ok"></i>
			</button>
			<button id="xtJjryExp" class="btn blue">
			导出 <i class="icon-share"></i>
			</button>
			</div>
			<div style="float:right;">
			<form id="xtJjrySeach">
			<input placeholder="急救员姓名" class="m-wrap medium" type="text" name="xm"/>
			</form>
			</div>
			
			<table id="xtJjryFlexigrid" style="display: none" /> 
			<br/>
		</div>
	</div>
</div>
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
   
 <script type="text/javascript" src="../media/js/flexigrid.js"></script>
<!-- END PAGE LEVEL PLUGINS -->

<script>
	jQuery(document).ready(function() {  
		xtJjryList.init();
		$("#XtjjryAdd").on("click", xtJjryList.xtJjryEditOnClick());
		$("#xtJjrySeach").submit(function() {
			xtJjryList.xtJjrySeach()
	        return false; //阻止表单默认提交
	    });
	});
</script>
<!-- END JAVASCRIPTS -->
