<div class="container-fluid">
	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
				塞事管理 <small>马拉松赛事维护</small>
			</h3>
			<ul class="breadcrumb">
				<li><i class="icon-home"></i> <a href="index.htm">首页</a> <i
					class="icon-angle-right"></i></li>
				<li><a href="#">急救人员管理</a><i class="icon-angle-right"></i></li>
				<li><a href="#">新增急救员</a></li>
				<li class="pull-right no-text-shadow">
					<div id="dashboard-report-range"
						class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive"
						data-tablet="" data-desktop="tooltips" data-placement="top"
						data-original-title="Change dashboard date range">
						<i class="icon-calendar"></i> <span></span> <i
							class="icon-angle-down"></i>
					</div>
				</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
			<button id="xtjjryList" class="btn black">
				返回 <i class="icon-arrow-left"></i>
			</button>
			<button id="xtJjrySave" class="btn blue">
				保存<i class="icon-share"></i>
			</button>
			<br />
			<br />
			<form id="xtJjryForm" action="xtJjrySave.htm"
				class="form-horizontal" method="POST">
				<input type="hidden" name="id" value="$!xtJjry.id">
				<div class="control-group">
					<label class="control-label">姓名:<span class="required">*</span></label>
					<div class="controls">
						<input class="m-wrap medium" type="text" name="xm"
							value="$!xtJjry.xm">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">性别:<span class="required">*</span></label>
					<div class="controls">
						<select id="xb" name="xb">
							<option value="1" #if("$!xtJjry.xb"== "1") selected #end>男</option>
							<option value="2" #if("$!xtJjry.xb"== "2") selected #end>女</option>

						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">电话:<span class="required">*</span></label>
					<div class="controls">
						<input class="m-wrap medium" type="text" name="dh"
							value="$!xtJjry.dh">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">证件类型:<span class="required">*</span></label>
					<div class="controls">
						<select id="xtjjrySelect1" class="span6 select2" name="zjlx">
							#foreach($xtDmlb in $XtDmbList1)
								<option value="$!xtDmlb.id" #if("$!xtDmlb.id"=="$!xtJjry.zjlx") selected #end>$!xtDmlb.dmmc</option> 
							#end
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">证件号码:<span class="required">*</span></label>
					<div class="controls">
						<input class="m-wrap medium" type="text" name="zjhm"
							value="$!xtJjry.zjhm"> 
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">身份类型</label>
					<div class="controls">
						<select id="xtjjrySelect" class="span6 select2" name="sflx">
							#foreach($xtDmlb in $XtDmbList) 
							 	<option value="$!xtDmlb.id" #if("$!xtDmlb.id"=="$!xtJjry.sflx") selected #end>$!xtDmlb.dmmc</option> 
							#end
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">类别</label>
					<div class="controls">
						<input class="m-wrap medium" type="text" name="lb"
							value="$!xtJjry.lb">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">服装尺寸</label>
					<div class="controls">
						<input class="m-wrap medium" type="text" name="fzcc"
							value="$!xtJjry.fzcc">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">审核状态:<span class="required">*</span></label>
					<div class="controls">
						<select id="zt" name="zt">
							<option value="0" #if("$!xtJjry.zt"== "0") selected #end>未通过</option>
							<option value="1" #if("$!xtJjry.zt"== "1") selected #end>通过</option>
							<option value="2" #if("$!xtJjry.zt"== "2") selected #end>黑名单</option>
					</div>
				</div>
			</form>

			<br />
		</div>
	</div>
</div>

<script type="text/javascript" src="../media/js/select2.min.js"></script>
<script type="text/javascript" src="../media/js/jquery.form.js"></script>

<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN PAGE LEVEL PLUGINS -->

<!-- END PAGE LEVEL PLUGINS -->

<script>
	jQuery(document).ready(function() {  
			$("#xtjjryList").on("click", XtJjryEdit.xtJjryListOnClick());   
	       $('#xtjjrySelect1').select2({
	         placeholder: "选择一个类型",
	         allowClear: true
	     	}); 
		   $('#xtjjrySelect').select2({
		         placeholder: "选择一个类型",
		         allowClear: true
		   });  
		   
		   $("#xtJjryForm").validate({
	           errorElement: 'label', //default input error message container
	           errorClass: 'help-inline', // default input error message class
	           focusInvalid: false, // do not focus the last invalid input
	           rules: {
	        	   xm: {
	                   required: true
	               },
	               xb: {
	                   required: true
	               },
	               dh: {
	                   required: true
	               },
	               zjlx: {
	                   required: true
	               },
	               zjhm: {
	                   required: true
	               }
	           },

	           messages: {
	        	   xm: {
	                   required: " 必填."
	               },
	               xb: {
	                   required: " 必填."
	               },
	               dh: {
	                   required: " 必填."
	               },
	               zjlx: {
	                   required: " 必填."
	               },
	               zjhm: {
	                   required: " 必填."
	               }
	           },

	           highlight: function (element) { // hightlight error inputs
	               $(element)
	                   .closest('.control-group').addClass('error'); // set error class to the control group
	           },

	           success: function (label) {
	               label.closest('.control-group').removeClass('error');
	               label.remove();
	           },

	           errorPlacement: function (error, element) {
	               error.addClass('help-small no-left-padding').insertAfter(element);
	           }
	       });
		   
		   
			$('#xtJjryForm').submit(function() {
			
		        $(this).ajaxSubmit({
		        	success: function(data){
		        		alert("保存成功！");
		            },
		            error: function(data){
		                alert("保存失败！");
		            }
		        });
		        
		        return false; //阻止表单默认提交
		    }); 
			$("#xtJjrySave").on("click", XtJjryEdit.xtJjryFormSubmit());
		   
			$("#page-content").height("auto");
	});
	
</script>
<!-- END JAVASCRIPTS -->
