<div class="container-fluid">
	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
				系统管理 <small>账号设置</small>
			</h3>
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="index.html">首页</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li>系统管理<i class="icon-angle-right"></i></li>
				<li>新增管理员</li>
				<li class="pull-right no-text-shadow">
					<div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
						<i class="icon-calendar"></i>
						<span></span>
						<i class="icon-angle-down"></i>
					</div>
				</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
			<button id="xtCzyhList" class="btn black">
			返回 <i class="icon-arrow-left"></i>
			</button>
			<button id="xtCzyhSave" class="btn blue">
			保存<i class="icon-share"></i>
			</button>
			<br/><br/>
			<form id="xtCzyhForm" action="xtCzyhSave.html" class="form-horizontal" method="POST">
				<input type="hidden" name="id" value="$!xtCzyh.id">
				
				<div class="control-group">
					<label class="control-label">姓名:</label>
					<div class="controls">
						<input class="m-wrap medium" type="text" name="xm" value="$!xtCzyh.xm">
						<span class="help-inline"><font color="red">*</font></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">电话:</label>
					<div class="controls">
						<input class="m-wrap medium" type="text" name="dh" value="$!xtCzyh.dh">
						<span class="help-inline"><font color="red">*</font></span>
					</div>
				</div>
				#if("$!xtCzyh.id"=="")
				<div class="control-group">
					<label class="control-label">账号:</label>
					<div class="controls">
						<input class="m-wrap medium" type="text" name="dlm" value="$!xtCzyh.dlm">
						<span class="help-inline"><font color="red">*</font></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">密码:</label>
					<div class="controls">
						<input class="m-wrap medium" type="password" name="dlmm" value="$!xtCzyh.dlmm">
						<span class="help-inline"><font color="red">*</font></span>
					</div>
				</div>
				#end
				<div class="control-group">
					<label class="control-label">职位</label>
					<div class="controls">
						<select name="zw">
						#foreach($xtGydm in $xtGydms)
								<option value="$!xtGydm.id" #if("$!xtGydm.id"=="$!xtCzyh.zw") selected #end>$!xtGydm.dmmc</option>
						#end
						</select>
						<span class="help-inline"><font color="red">*</font></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">选择赛事</label>
					<div class="controls">
						<select id="xtSsgList" class="span6 select2" name="ssid">
							<option value=""></option>
							#foreach($XtSsgL in $XtSsgList)
								<option value="$!XtSsgL.id" #if("$!XtSsgL.id"=="$!xtCzyh.ssid") selected #end>$!XtSsgL.ssmc</option>
							#end
						</select>

					</div>
				</div>

			</form>
			
			<br/>
		</div>
	</div>
</div>


<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN PAGE LEVEL PLUGINS -->   
<script type="text/javascript" src="../media/js/select2.min.js"></script>
<script type="text/javascript" src="../media/js/jquery.form.js"></script>

<!-- END PAGE LEVEL PLUGINS -->

<script>
	jQuery(document).ready(function() {   
		
	   $("#xtCzyhList").on("click", XtCzyhEdit.xtCzyhListOnClick());
	   
	    $('#xtSsgList').select2({
	    	allowClear: true,
            placeholder: "选择一个赛事"
        }); 

	   
		$('#xtCzyhForm').submit(function() {
		
	        $(this).ajaxSubmit({
	        	success: function(data){
	        		alert("保存成功！");
	            },
	            error: function(data){
	                alert("保存失败！");
	            }
	        });
	        
	        return false; //阻止表单默认提交
	    });
		
		$("#xtCzyhSave").on("click", XtCzyhEdit.xtCzyhFormSubmit());
	   
	});
</script>
<!-- END JAVASCRIPTS -->
