<div class="container-fluid">
	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
				 意见反馈管理 <small>意见反馈管理</small>
			</h3>
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="。。/index.html">首页</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">意见反馈管理 </a></li>
				<li class="pull-right no-text-shadow">
					<div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
						<i class="icon-calendar"></i>
						<span></span>
						<i class="icon-angle-down"></i>
					</div>
				</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
			<div style="float:right;">
			<form id="xtyjfkSeach">
			<input placeholder="姓名" class="m-wrap medium" type="text" name="xm"/>
			</form>
			</div>

			<table id="yjfkFlexigrid" style="display: none">
			</table>
			
			<br/>
		</div>
	</div>
</div>
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN PAGE LEVEL PLUGINS -->   
 <script type="text/javascript" src="../media/js/flexigrid.js"></script>
<!-- END PAGE LEVEL PLUGINS -->

 <script>
	jQuery(document).ready(function() {
		
		FkList.init();
		
		 
		//$("#xtGydmEdit").on("click", XtGydmList.xtGydmEditOnClick());
	});
</script>
<!-- END JAVASCRIPTS -->
