<div class="container-fluid">
	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
				    系统参数管理 <small>参数设置</small>
			</h3>
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					首页
					<i class="icon-angle-right"></i>
				</li>
				<li>系统参数管理</li>
				<li class="pull-right no-text-shadow">
					<div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
						<i class="icon-calendar"></i>
						<span></span>
						<i class="icon-angle-down"></i>
					</div>
				</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
			<div style="float:left;">
			<button id="xtGydmEdit" class="btn green">
			新建 <i class="icon-plus"></i>
			</button>
			</div>
			<div style="float:right;">
			<form id="xtGydmSeach">
			<input placeholder="参数类型" class="m-wrap medium" type="text" name="lbmc"/>
			</form>
			</div>

			<table id="xtGydmFlexigrid" style="display: none">
			</table>
			
			<br/>
		</div>
	</div>
</div>
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN PAGE LEVEL PLUGINS -->   
 <script type="text/javascript" src="../media/js/flexigrid.js"></script>
<!-- END PAGE LEVEL PLUGINS -->

<script>
	jQuery(document).ready(function() {    		XtGydmList.init();
		$("#xtGydmEdit").on("click", XtGydmList.xtGydmEditOnClick());
	});
</script>
<!-- END JAVASCRIPTS -->
