<div class="container-fluid">
	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
				塞事管理 <small>马拉松赛事维护</small>
			</h3>
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="index.html">首页</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">急救人员管理</a><i class="icon-angle-right"></i></li>
				<li><a href="#">赛事记录列表</a></li>
				<li class="pull-right no-text-shadow">
					<div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
						<i class="icon-calendar"></i>
						<span></span>
						<i class="icon-angle-down"></i>
					</div>
				</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
			<div style="float:left;">
			<button id="jjryList" class="btn black">
			返回 <i class="icon-arrow-left"></i>
			</button>
			</div>
			<div style="float:right;">
			<input placeholder="赛事名称、事件" class="m-wrap medium" type="text"/>
			</div>

			<table class="flexme4" style="display: none">
			<tbody>
			<tr>
				<td><div>无锡马拉松</div></td>
				<td><div>2016-07-19</div></td>
				<td><div>事件</div></td>
				<td><div>做了什么什么样的处理</div></td>
			</tr>    
			</tbody>
			</table>
			
			<br/>
		</div>
	</div>
</div>
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN PAGE LEVEL PLUGINS -->   
 <script type="text/javascript" src="../media/js/flexigrid.js"></script>
<!-- END PAGE LEVEL PLUGINS -->

<script>
	jQuery(document).ready(function() {    
		SsjlList.init();
		$("#jjryList").on("click", SsjlList.jjryListOnClick());
	});
</script>
<!-- END JAVASCRIPTS -->
