<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XtBsysb">

	<select id="select_xtbsysb_count" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT count(1) from XT_GYDM g, XT_BSYSB d where d.sblx = g.id 
		<if test="sbbh != null and sbbh != ''">
			and sbbh like '%${sbbh}%'
		</if>
	</select>

	<select id="select_xtbsysb_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dto.XtBsysbDto">
		SELECT d.*,g.dmmc,case  when sbzt=1 then '可用' when sbzt=0 then '不可用' end as sbztName  from XT_GYDM g, XT_BSYSB d where d.sblx = g.id 
		<if test="sbbh != null and sbbh != ''">
			and sbbh like '%${sbbh}%'
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		limit ${startPage}, ${page}
	</select>

</mapper>