<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XtBsysb">

	<select id="select_xtbsysb_count" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT count(1) from XT_BSYSB sb
		left join XT_GYDM dm on dm.id = sb.sblx and dm.lbid = '2'
		<if test="lbmc != null and lbmc != ''">
			where dmmc like '%${lbmc}%'
		</if>
	</select>

	<select id="select_xtbsysb_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dto.XtBsysbDto">
		SELECT sb.*, dm.dmmc as lbmc from XT_BSYSB sb
		left join XT_GYDM dm on dm.id = sb.sblx and dm.lbid = '2'
		<if test="lbmc != null and lbmc != ''">
			where dmmc like '%${lbmc}%'
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		limit ${startPage}, ${page}
	</select>

</mapper>