<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XtCszgl">

	<select id="select_xtcszgl_count" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT count(1) from XT_CSZGL,XT_SSGL where ssid = #{ssid} and
		XT_SSGL.id=XT_CSZGL.ssid
		<if test="xm != null and xm != ''">
			and xm like '%${xm}%'
		</if>
		<if test="ssmc != null and ssmc != ''">
			and ssmc like '%${ssmc}%'
		</if>
	</select>

	<select id="select_xtcszgl_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dto.XtCszglDto">
		SELECT XT_CSZGL.*,XT_SSGL.ssmc,case  when xb=1 then '男' when xb=2 then '女' end as xbName,case  when gfx=0 then '否' when gfx=1 then '是' end as gfxName   from  XT_CSZGL,XT_SSGL where ssid = #{ssid} and
		XT_SSGL.id=XT_CSZGL.ssid
		<if test="xm != null and xm != ''">
			and xm like '%${xm}%'
		</if>
		<if test="ssmc != null and ssmc != ''">
			and ssmc like '%${ssmc}%'
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		limit ${startPage}, ${page}
	</select>
	
	 

</mapper>