<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XtJjry">

	<select id="select_xtjjry_count" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select count(1) from (select XT_JJRY.id,zjlx,sflx,xb,zjhm,dh,lb,fzcc,ly,zt,a.sflxName,case  when xb=1 then '男' when xb=2 then '女' end as xbName,case  when ly=1 then '平台' when ly=2 then 'App' end as lyName,case  when zt=0 then '未通过'     when zt=1 then '通过' when zt=2 then '黑名单' end as ztName from XT_JJRY  left join  (select dmmc  as  sflxName ,id from  XT_GYDM ) a on XT_JJRY.sflx=a.id)t1 left join (select dmmc  as  zjlxName ,id from  XT_GYDM) b on t1.zjlx=b.id
		<if test="xm != null and xm != ''">
			and xm like '%${xm}%'
		</if>
	</select>

	<select id="select_xtjjry_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dto.XtJjryDto">
			select t1.*,b.zjlxName from (select XT_JJRY.id,xm,zjlx,sflx,xb,zjhm,dh,lb,fzcc,ly,zt,a.sflxName,case  when xb=1 then '男' when xb=2 then '女' end as xbName,case  when ly=1 then '平台' when ly=2 then 'App'  else '平台' end   as lyName,case  when zt=0 then '未通过'     when zt=1 then '通过' when zt=2 then '黑名单' end as ztName from XT_JJRY  left join  (select dmmc  as  sflxName ,id from  XT_GYDM ) a on XT_JJRY.sflx=a.id)t1 left join (select dmmc  as  zjlxName ,id from  XT_GYDM) b on t1.zjlx=b.id
			<if test="xm != null and xm != ''">
			and xm like '%${xm}%'
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		limit ${startPage}, ${page}
	</select>

</mapper>