<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XtJjry">

	<select id="select_xtjjry_count" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select count(1) from XT_JJRY
		<if test="xm != null and xm != ''">
			where xm like '%${xm}%'
		</if>
	</select>

	<select id="select_xtjjry_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dto.XtJjryDto">
		select ry.*, sflx.dmmc as sfmc, zjlx.dmmc as zjmc  from XT_JJRY ry
		left join XT_GYDM sflx on sflx.id = ry.sflx and sflx.lbid = '3'
		left join XT_GYDM zjlx on zjlx.id = ry.zjlx and zjlx.lbid = '4'
		<if test="xm != null and xm != ''">
			where xm like '%${xm}%'
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		limit ${startPage}, ${page}
	</select>

</mapper>