<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XtJjry">

	<select id="select_xtjjry_count" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select count(1) from XT_JJRY
		<if test="xm != null and xm != ''">
			where xm like '%${xm}%'
		</if>
		<if test="sflx != null and sflx != ''">
			where ry.sflx = #{sflx}
		</if>
	</select>

	<select id="select_xtjjry_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dto.XtJjryDto">
		select ry.*, sflx.dmmc as sfmc, zjlx.dmmc as zjmc  from XT_JJRY ry
		left join XT_GYDM sflx on sflx.id = ry.sflx and sflx.lbid = '3'
		left join XT_GYDM zjlx on zjlx.id = ry.zjlx and zjlx.lbid = '4'
		<if test="xm != null and xm != ''">
			where xm like '%${xm}%'
		</if>
		<if test="sflx != null and sflx != ''">
			where ry.sflx = #{sflx}
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		limit ${startPage}, ${page}
	</select>
	
	<select id="select_xtssjl_count" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select count(1) from XT_SSJL a,XT_QJJL b,XT_SSGL c where b.id=a.qjid and  a.ssid=c.id and  a.ryid=#{ryid} 
		<if test="ssmc != null and ssmc != ''">
			and  ssmc like '%${ssmc}%'
		</if>
	</select>

	<select id="select_xtssjl_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dto.XtJjryDto">
		 select c.ssmc,c.sskssj,b.xm,b.bh,b.zt as zt1,b.dh,b.ms,a.Zt as zt2,a.clms,a.bhms  from XT_SSJL a,XT_QJJL b,XT_SSGL c where b.id=a.qjid and  a.ssid=c.id and  a.ryid=#{ryid} 
		<if test="ssmc != null and ssmc != ''">
			and ssmc like '%${ssmc}%'
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		limit ${startPage}, ${page}
	</select>

</mapper>