<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XtJjryzz">
	<select id="select_xtjjryzz_count" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select count(1) from XT_JJRYZZ a,XT_JJRY b where a.ryId=b.id and a.ryId=#{ryid}  
	</select>

	<select id="select_xtjjryzz_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dto.XtJjryzzDto">
		 select tpdz,xb,xm from XT_JJRYZZ a,XT_JJRY b where a.ryId=b.id and a.ryId=#{ryid}  
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		limit ${startPage}, ${page}
	</select>

</mapper>