<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XtQjjl">

  	<select id="select_processed_count" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT count(1) from XT_QJJL where ssid = #{ssid} and zt='8'
	</select>

	<select id="select_processed_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dto.XtQjjlDto">
		select qj.*, dm.dmmc as sjmc
		from XT_QJJL qj
		left join XT_GYDM dm on dm.id = qj.sjid and dm.lbid = '5'
		where qj.zt = '8' and qj.ssid = #{ssid} and qj.zb != ''
		order by qj.xgsj desc
		limit ${startPage}, ${page}
	</select>
	
	
	<select id="select_processing_count" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT count(1) from XT_QJJL where ssid = #{ssid} and zt in ('1','3') and zb != ''
	</select>
	
	<select id="select_processing_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dto.XtQjjlDto">
		select qj.*, dm.dmmc as sjmc
		from XT_QJJL qj
		left join XT_GYDM dm on dm.id = qj.sjid and dm.lbid = '5'
		where qj.zt in ('1','3') and qj.ssid = #{ssid} and qj.zb != ''
		order by qj.xgsj desc
		limit ${startPage}, ${page}
	</select>
	
	
	<select id="select_getQJJLLngLats_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dto.XtQjjlDto">
		select qj.*,
		group_concat(jl.zt separator '|') as jjyzt
		from XT_QJJL qj
		left join XT_SSJL jl on qj.id = jl.qjid and jl.zt in ('0','1','3')
		where qj.zt in ('1','3') and qj.ssid = #{ssid} and qj.zb != ''
		group by qj.id
	</select>
	
	
	<select id="XtQjjl.select_getQJJLInfomation_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dto.XtQjjlDto">
		select qj.*, dm.dmmc as sjmc,ry.xm as jjyxm,ry.dh as jjydh,jl.bhms as bhms,jl.clms as clms,
		jl.zt as jjyzt
		from XT_QJJL qj
		left join XT_SSJL jl on qj.id = jl.qjid and jl.zt in ('0','1','2','3')
		left join XT_JJRY ry on jl.ryid = ry.id and ry.zt = '1'
		left join XT_GYDM dm on dm.id = qj.sjid and dm.lbid = '5'
		where qj.id = #{qjid}
	</select>
	
</mapper>