<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XtSsgl">
	<select id="select_xtssgl_count" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select  count(1) from  XT_SSGL where 1=1
		<if test="ssmc != null and ssmc != ''">
			and ssmc like '%${ssmc}%'
		</if>
		<if test="zt != null and zt != ''">
			and zt = ${zt}
		</if>
	</select>

	<select id="select_xtssgl_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dto.XtSsglDto">
		select ssgl.*, count(distinct cszgl.id) as cszcount, count(distinct ssjjy.id) as jjycount from XT_SSGL ssgl
		left join XT_CSZGL cszgl on cszgl.ssid = ssgl.id
		left join XT_SSJJY ssjjy on ssjjy.ssid = ssgl.id
		where 1=1
		<if test="ssmc != null and ssmc != ''">
			and ssmc like %${ssmc}%'
		</if>
		<if test="zt != null and zt != ''">
			and zt = ${zt}
		</if>
		group by ssgl.id
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		limit ${startPage}, ${page}
	</select>

</mapper>