<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XtSsgw">
  	<select id="select_xtSsgws_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dao.pojo.XtSsgw">
		select gw.id, gwmc , gwsl - count(gwid) as gwsl from XT_SSGW gw
		left join XT_SSJJY jjy on jjy.gwid = gw.id and jjy.zt = '1'
		where gw.ssid = #{ssid}
		group by gwid
	</select>
	<select id="select_xtssgw_count" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT count(1) from XT_SSGW,XT_SSGL where XT_SSGW.ssid = #{ssid} and
		XT_SSGL.id=XT_SSGW.ssid
		<if test="gwmc != null and gwmc != ''">
			and gwmc like '%${gwmc}%'
		</if>
	</select>

	<select id="select_xtssgw_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dto.XtSsgwDto">
		select XT_SSGW.* from XT_SSGW,XT_SSGL where XT_SSGW.ssid = #{ssid} and
		XT_SSGL.id=XT_SSGW.ssid
		<if test="gwmc != null and gwmc != ''">
			and gwmc like '%${gwmc}%'
		</if>
		order by id desc
		
		limit ${startPage}, ${page}
	</select>
	
</mapper>