<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XtSsjjy">

	<select id="select_noSignIn_count" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT count(1) from XT_SSJJY where ssid = #{ssid} and
		zt='1' and ( zb = '' or zb is null )
	</select>

	<select id="select_noSignIn_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dao.pojo.XtJjry">
		SELECT jj.* from XT_SSJJY ssjj, XT_JJRY jj where ssjj.ryid =
		jj.id and ssjj.ssid = #{ssid} and ssjj.zt = '1' and ( zb = '' or zb is
		null )
		order by jj.xm asc
		limit ${startPage}, ${page}
	</select>
	
	<select id="select_getJjryLngLats_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dto.XtSsjjyDto">
		SELECT jjy.* ,ry.xm, ry.dh,
		group_concat(dm.dmmc) as sbmc,
		group_concat(jl.id separator '|') as jlid
		FROM XT_SSJJY jjy
		left join XT_SSJJYSB jjysb on jjysb.ssjjyid = jjy.id and jjysb.zt = '1'
		left join XT_BSYSB sb on sb.id = jjysb.sbid and sbzt = '1'
		left join XT_GYDM dm on sb.sblx = dm.id and lbid = '2'
		left join XT_JJRY ry on ry.id = jjy.ryid and ry.zt = '1'
		left join XT_SSJL jl on jl.ryid = jjy.ryid and jjy.ssid =  jl.ssid and jl.zt in ('0','1')
		left join XT_QJJL qj on qj.id = jl.qjid and jjy.ssid = qj.ssid and qj.zt in ('1')
		where jjy.zt = '1' and jjy.ssid = #{ssid} and jjy.zb != ''
		group by jjy.id
	</select>
	
	<select id="select_getJjryInfomation_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dto.XtSsjjyDto">
		SELECT jjy.* ,ry.xm, ry.dh, gw.gwmc, sflx.dmmc as sflx, ry.lb,
		group_concat(dm.dmmc) as sbmc,
		qj.id as qjid, qj.zt as qjzt,qj.xm as qjxm, qj.dh as qjdh
		FROM XT_SSJJY jjy
		left join XT_SSGW gw on gw.id = jjy.gwid
		left join XT_SSJJYSB jjysb on jjysb.ssjjyid = jjy.id and jjysb.zt = '1'
		left join XT_BSYSB sb on sb.id = jjysb.sbid and sbzt = '1'
		left join XT_GYDM dm on sb.sblx = dm.id and dm.lbid = '2'
		left join XT_JJRY ry on ry.id = jjy.ryid and ry.zt = '1'
		left join XT_GYDM sflx on ry.sflx = sflx.id and sflx.lbid = '3'
		left join XT_SSJL jl on jl.ryid = jjy.ryid and jjy.ssid =  jl.ssid and jl.zt in ('0','1')
		left join XT_QJJL qj on qj.id = jl.qjid and jjy.ssid = qj.ssid and qj.zt in ('1')
		where jjy.id = #{jjyid}
		group by jjy.id, qj.id
	</select>


	<select id="select_xtssgl_count" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT count(1) FROM XT_SSJJY jjy
		where jjy.zt = '1' and jjy.ssid = #{ssid}
	</select>


	<select id="select_xtssgl_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dto.XtSsjjyDto">
		SELECT jjy.* ,ry.xm, ry.xb, ry.dh, ry.ly, ry.fzcc, gw.gwmc, sflx.dmmc as sflx, zjlx.dmmc as zjlx, ry.zjhm,
		group_concat(dm.dmmc) as sbmc
		FROM XT_SSJJY jjy
		left join XT_SSGW gw on gw.id = jjy.gwid
		left join XT_SSJJYSB jjysb on jjysb.ssjjyid = jjy.id
		left join XT_BSYSB sb on sb.id = jjysb.sbid and sbzt = '1'
		left join XT_GYDM dm on sb.sblx = dm.id and lbid = '2'
		left join XT_JJRY ry on ry.id = jjy.ryid and ry.zt = '1'
		left join XT_GYDM sflx on ry.sflx = sflx.id and sflx.lbid = '3'
		left join XT_GYDM zjlx on ry.zjlx = zjlx.id and zjlx.lbid = '4'
		where jjy.zt = '1' and jjy.ssid = #{ssid}
		group by jjy.id
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		limit ${startPage}, ${page}
	</select>
	

	<select id="select_xtJjrys_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dao.pojo.XtJjry">
		select * from XT_JJRY ry where ry.zt = '1'  
		and not exists (select 1 from XT_SSJJY jjy where jjy.ssid = #{ssid} and jjy.ryid = ry.id)
	</select>
	<select id="select_xtssgl_count1" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT count(1) FROM XT_SSJJY jjy
		left join XT_SSGW gw on gw.id = jjy.gwid
		left join XT_SSJJYSB jjysb on jjysb.ssjjyid = jjy.id
		left join XT_BSYSB sb on sb.id = jjysb.sbid and sbzt = '1'
		left join XT_GYDM dm on sb.sblx = dm.id and lbid = '2'
		left join XT_JJRY ry on ry.id = jjy.ryid 
		left join XT_GYDM sflx on ry.sflx = sflx.id and sflx.lbid = '3'
		left join XT_GYDM zjlx on ry.zjlx = zjlx.id and zjlx.lbid = '4'
		where    jjy.ssid = #{ssid}
		<if test="xm != null and xm != ''">
			and ry.xm like '%${xm}%'
		</if>
		<if test="sflx != null and sflx != ''">
			and ry.sflx like '%${sflx}%'
		</if>
	</select>
	
	<select id="select_xtssgl_list1" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dto.XtSsjjyDto">
	select jjy.* ,ry.xm, ry.xb, ry.dh, ry.ly, ry.fzcc, gw.gwmc, sflx.dmmc as sflx, zjlx.dmmc as zjlx, ry.zjhm,
		group_concat(dm.dmmc) as sbmc,ry.zt as ryzt
	FROM XT_SSJJY jjy
		left join XT_SSGW gw on gw.id = jjy.gwid
		left join XT_SSJJYSB jjysb on jjysb.ssjjyid = jjy.id
		left join XT_BSYSB sb on sb.id = jjysb.sbid and sbzt = '1'
		left join XT_GYDM dm on sb.sblx = dm.id and lbid = '2'
		left join XT_JJRY ry on ry.id = jjy.ryid 
		left join XT_GYDM sflx on ry.sflx = sflx.id and sflx.lbid = '3'
		left join XT_GYDM zjlx on ry.zjlx = zjlx.id and zjlx.lbid = '4'
		where    jjy.ssid = #{ssid}
		<if test="xm != null and xm != ''">
			and ry.xm like '%${xm}%'
		</if>
		<if test="sflx != null and sflx != ''">
			and ry.sflx like '%${sflx}%'
		</if>
		group by jjy.id
		
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		limit ${startPage}, ${page}
	</select>
</mapper>