<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XtSsgl">
	<select id="select_xtssgl_count" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select  count(1) from  XT_SSGL where 1=1
		<if test="ssmc != null and ssmc != ''">
			and ssmc like '%${ssmc}%'
		</if>
		<if test="zt != null and zt != ''">
			and zt = ${zt}
		</if>
	</select>

	<select id="select_xtssgl_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dto.XtSsglDto">
		select ssgl.*, count(distinct cszgl.id) as cszcount, count(distinct ssjjy.id) as jjycount from XT_SSGL ssgl
		left join XT_CSZGL cszgl on cszgl.ssid = ssgl.id
		left join XT_SSJJY ssjjy on ssjjy.ssid = ssgl.id 
		where 1=1
		<if test="ssmc != null and ssmc != ''">
			and ssmc like '%${ssmc}%'
		</if>
		<if test="zt != null and zt != ''">
			and ssgl.zt = ${zt}
		</if>
		group by ssgl.id
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		limit ${startPage}, ${page}
	</select>
	
	<select id="select_xtsstj_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dto.XtSsglDto">
		select a.num1,b.num2,c.num3,d.num4,e.num5 from (select count(1) as num1 from XT_SSJJY  where Zt='1' and ssid=#{ssid} ) a ,(select count(1) as num2 from  XT_CSZGL where ssid=#{ssid} )b,(select count(1) as num3 from XT_QJJL where ssid=#{ssid} ) c,(select count(1) as num4 from XT_QJJL where zt='3' and ssid=#{ssid} ) d,(select count(1) as num5 from XT_QJJL where zt='9' and ssid=#{ssid} ) e
		 
	</select>
	
</mapper>