<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XtSsjl">

	<update id="update_xtssjl_by_qjid" parameterType="map">
	
		update XT_SSJL set zt = #{zt} where qjid = #{qjid};
	
	</update>
  
</mapper>