<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XtGydm">

	<select id="select_xtssgl_count" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT count(1) from XT_SSGL
		<if test="ssmc != null and ssmc != ''">
			and ssmc like '%${ssmc}%'
		</if>
	</select>

	<select id="select_xtssgl_list" parameterType="java.util.Map"
		resultType="cn.hegrace.www.v1.dto.XtSsglDto">
		SELECT *  from XT_SSGL
		<if test="ssmc != null and ssmc != ''">
			and ssmc like %${ssmc}%'
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		limit ${startPage}, ${page}
	</select>

</mapper>