<div class="container-fluid">
	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
				塞事管理 <small>马拉松赛事维护</small>
			</h3>
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="index.html">首页</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">塞事管理</a><i class="icon-angle-right"></i></li>
				<li><a href="#">自愿者审核</a></li>
				<li class="pull-right no-text-shadow">
					<div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
						<i class="icon-calendar"></i>
						<span></span>
						<i class="icon-angle-down"></i>
					</div>
				</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
			<div>
			<button id="raceList" class="btn black">
			返回 <i class="icon-arrow-left"></i>
			</button>
			</div>
			<br/>
			<table class="flexme4" style="display: none">
			<tbody>
			<tr>
				<td><div><input type="checkbox"></div></td>
				<td><div>123967128888</div></td>
				<td><div>飞利浦</div></td>
				<td><div>男</div></td>
				<td><div>33018888888888</div></td>
				<td><div>医生</div></td>
				<td><div>L</div></td>
				<td><div>否</div></td>
				<td><div>
				<a href="#" class="btn mini purple"><i class="icon-edit"></i> 查看</a>
				<a href="#" class="btn mini green"><i class="icon-ok"></i> 通过</a>
				<a href="#" class="btn mini red"><i class="icon-remove"></i> 不通过</a>
				<a href="#" class="btn mini black"><i class="icon-user"></i> 加入黑名单</a>
				</div></td>
			</tr>    
			</tbody>
			</table>
			
			<br/>
		</div>
	</div>
</div>
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN PAGE LEVEL PLUGINS -->   
 <script type="text/javascript" src="../media/js/flexigrid.js"></script>
<!-- END PAGE LEVEL PLUGINS -->

<script>
	jQuery(document).ready(function() {    
		App.init(); // initlayout and core plugins
		ShList.init();
		$("#raceList").on("click", RaceEdit.raceListOnClick());
	});
</script>
<!-- END JAVASCRIPTS -->
