<div class="container-fluid">
	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
				塞事管理 <small>马拉松赛事维护</small>
			</h3>
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="../index.htm">首页</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">赛事管理</a><i class="icon-angle-right"></i></li>
				<li><a href="#">新增赛事</a></li>
				<li class="pull-right no-text-shadow">
					<div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
						<i class="icon-calendar"></i>
						<span></span>
						<i class="icon-angle-down"></i>
					</div>
				</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
			<button id="xtSsjjyList" class="btn black">
			返回 <i class="icon-arrow-left"></i>
			</button>
			<button id="xtSsjjySave" class="btn green">
			保存 <i class="icon-share"></i>
			</button>
			<br/><br/>
			<form id="xtSsjjyForm" action="xtSsjjySave.htm" class="form-horizontal" method="POST">
				<input type="hidden" name="id" value="$!xtSsjjy.id">
				<input type="hidden" name="ssid" value="$!ssid">
				
				<div class="control-group">
					<label class="control-label">急救员:<span class="required">*</span></label>
					<div class="controls">
						#if("$!ryxm" == "")
						<select id="xtSsjjyRyid" class="span6 select2" name="ryid">
							<option value=""></option>
							#foreach($xtJjry in $xtJjrys)
								<option value="$!xtJjry.id">$!xtJjry.xm ($!xtJjry.dh)</option>
							#end
						</select>
						#else
							<input type="hidden" name="ryid" value="$!xtSsjjy.ryid">
							<input class="span6 m-wrap" placeholder="$!ryxm" disabled="" type="text">
						#end
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">装备:</label>
					<div class="controls">
					<select id="xtSsjjysb" data-placeholder="请选择装备" class="chosen span6" multiple="multiple" name="sbids">
							<option value=""></option>
							<optgroup label="">
							#foreach($xtBsysbDto in $xtBsysbDtos)
								#set($bsysbid = ","+$!xtBsysbDto.id+",")
								<option value="$!xtBsysbDto.id" 
								#if("$!bsysbid" != "" )
									#if($sbids.indexOf($!bsysbid) >= 0)
									selected
									#end	
								#end
								>$!xtBsysbDto.lbmc - $!xtBsysbDto.sbbh</option>
							#end
							</optgroup>
					</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">岗位:</label>
					<div class="controls">
						<select id="xtSsjjyGw" class="span6 select2" name="gwid">
							<option value=""></option>
							#foreach($xtSsgw in $xtSsgws)
								<option value="$!xtSsgw.id" #if("$!xtSsgw.id" == "$!xtSsjjy.gwid")
								selected
								#end
								>$!xtSsgw.gwmc (剩余: $!xtSsgw.gwsl 个)</option>
							#end
						</select>
					</div>
				</div>
			</form>
			
			<br/>
		</div>
	</div>
</div>

<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="../media/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="../media/js/jquery.tagsinput.min.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="../media/js/select2.min.js"></script>
<script type="text/javascript" src="../media/js/jquery.form.js"></script>
<script type="text/javascript" src="../media/js/jquery.multi-select.js"></script> 
<script type="text/javascript" src="../media/js/chosen.jquery.min.js"></script>


<script>


	jQuery(document).ready(function() {    
		
	   $("#xtSsjjyList").on("click", function(){xtSsglList.xtSsjjyList("$!ssid")});
	   $("#xtSsjjySave").on("click", XtSsjjyEdit.xtSsjjyFormSubmit());
	   
	   $("#page-content").height($(document).height() - 80)
	   $('#xtSsjjyRyid').select2({
           placeholder: "选择一个类型",
           allowClear: false
       });
	   $('#xtSsjjyGw').select2({
           placeholder: "选择一个类型",
           allowClear: false
       });
	   
	   
	   $("#xtSsjjyForm").validate({
           errorElement: 'label', //default input error message container
           errorClass: 'help-inline', // default input error message class
           focusInvalid: false, // do not focus the last invalid input
           rules: {
        	   ryid: {
                   required: true
               }
           },

           messages: {
        	   ryid: {
                   required: " 必填."
               }
           },

           highlight: function (element) { // hightlight error inputs
               $(element)
                   .closest('.control-group').addClass('error'); // set error class to the control group
           },

           success: function (label) {
               label.closest('.control-group').removeClass('error');
               label.remove();
           },

           errorPlacement: function (error, element) {
               error.addClass('help-small no-left-padding').insertAfter(element);
           }
       });
	   
		$('#xtSsjjyForm').submit(function() {
			
			
	        $(this).ajaxSubmit({
	        	success: function(data){
	        		alert("保存成功！");
	            },
	            error: function(data){
	                alert("保存失败！");
	            }
	        });
	        
	        return false; //阻止表单默认提交
	    });
		
        $('#xtSsjjysb').chosen({
        	allow_single_deselect: $(this).attr("data-with-diselect") === "1" ? true : false
        });
	});
	
</script>
<!-- END JAVASCRIPTS -->
