<div class="container-fluid">
	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
				赛事管理 <small>$!xtSsgl.ssmc</small>
			</h3>
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="index.htm">首页</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">赛事管理</a></li>
				<li class="pull-right no-text-shadow">
					<div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
						<i class="icon-calendar"></i>
						<span></span>
						<i class="icon-angle-down"></i>
					</div>
				</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
			<form id="SsjjysbSeach">
			<div style="float:right;">
			<input type="hidden" name="ssid"  id="ssid" value="$!xtSsgl.id">
			<input placeholder="名称" class="m-wrap medium" type="text" name="xm"/>
			</div>
			</form>
			<table id="SsjjysbFlexigrid" style="display: none" />
			<br/>
		</div>
	</div>
</div>
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN PAGE LEVEL PLUGINS -->   
 <script type="text/javascript" src="../media/js/flexigrid.js"></script>
<!-- END PAGE LEVEL PLUGINS -->

<script>
	jQuery(document).ready(function() { 
		var ssid=$("#ssid").val();
		xtSsjjysbList.init(ssid);
		$("#xtSsjjysbEdit").on("click", xtSsjjysbList.xtSsjjysbEditOnClick(ssid));
		$("#page-content").height("100%");
	});
	
</script>
<!-- END JAVASCRIPTS -->
