<div class="container-fluid">
	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
				塞事管理 <small>马拉松赛事维护</small>
			</h3>
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="index.htm">首页</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">赛事管理</a><i class="icon-angle-right"></i></li>
				<li><a href="#">新增赛事</a></li>
				<li class="pull-right no-text-shadow">
					<div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
						<i class="icon-calendar"></i>
						<span></span>
						<i class="icon-angle-down"></i>
					</div>
				</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
			<button id="xtSsglList" class="btn black">
			返回 <i class="icon-arrow-left"></i>
			</button>
			<button id="xtSsglSave" class="btn blue">
			保存为待发布 <i class="icon-shopping-cart"></i>
			</button>
			<button id="xtSsglSaveAck" class="btn green">
			直接发布 <i class="icon-share"></i>
			</button>
			<br/><br/>
			<form id="xtSsglForm" action="xtSsglSave.htm" class="form-horizontal" method="POST">
				<input type="hidden" name="id" value="$!xtSsgl.id">
				<input type="hidden" name="zt" id="zt" value="$!xtSsgl.zt">
				<input type="hidden" name="ssjs" id="ssjs">
				<input type="hidden" name="sslj" id="sslj" value="$!xtSsgl.sslj">
				<div class="control-group">
					<label class="control-label">赛事名称:</label>
					<div class="controls">
						<input class="m-wrap medium" type="text" name="ssmc" value="$!xtSsgl.ssmc">
						<span class="help-inline"><font color="red">*</font></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">赛事地点:</label>
					<div class="controls">
						<input class="m-wrap large" type="text" name="ssdd" value="$!xtSsgl.ssdd">
						<span class="help-inline"><font color="red">*</font></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">赛事时间:</label>
					<div class="controls">
						<div class="input-append date sssjstart">
							<input size="16"  readonly="readonly" class="m-wrap" name="sskssj" type="text"   value=#if("$!xtSsgl.sskssj"!="")  "$dateTool.format('yyyy-MM-dd HH:mm:ss',$!xtSsgl.sskssj)" #end>
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div> 到
						<div class="input-append date sssjend">
							<input size="16"  readonly="readolny" class="m-wrap" name="ssjssj" type="text"  value=#if("$!xtSsgl.ssjssj"!="")  "$dateTool.format('yyyy-MM-dd HH:mm:ss',$!xtSsgl.ssjssj)" #end>
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">场景时间:</label>
					<div class="controls">
						<div class="input-append date cjsjstart">
							<input size="16"  readonly="readonly" class="m-wrap"  name="cjkssj" type="text"  value=#if("$!xtSsgl.cjkssj"!="")  "$dateTool.format('yyyy-MM-dd HH:mm:ss',$!xtSsgl.cjkssj)" #end>
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div> 到
						<div class="input-append date cjsjend">
							<input size="16"  readonly="readonly" class="m-wrap" name="cjjssj" type="text"  value=#if("$!xtSsgl.cjjssj"!="")  "$dateTool.format('yyyy-MM-dd HH:mm:ss',$!xtSsgl.cjjssj)" #end>
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">赛事介绍</label>
					<div class="controls">
						<textarea cols="80" id="editor1" name="editor1" rows="10">$!xtSsgl.ssjs</textarea>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">赛事线路</label>
					<div class="controls">
						<div id="ssljMap" style="width:100%;height:400px;"></div>
						<div  style="position:absolute;margin-top:-35px; left:100%; margin-left:-190px; z-index:100;">
							<a class="btn blue" href="javascript:;" id="polylineTools">
								<i class="icon-ok"></i> 点击画线，双击完成
							</a>
						</div>
					</div>
				</div>
	
			</form>
			
			<br/>
		</div>
	</div>
</div>


<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="../media/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="../media/js/jquery.tagsinput.min.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="../media/js/select2.min.js"></script>
<script type="text/javascript" src="../media/js/jquery.form.js"></script>

<script>
	jQuery(document).ready(function() {    
		XtSsglEdit.init();
		$("#xtSsglList").on("click", XtSsglEdit.xtSsglListOnClick());
		$('#xtSsglForm').submit(function() {
			$("#ssjs").val(CKEDITOR.instances["editor1"].getData());
	        $(this).ajaxSubmit({
	        	success: function(data){
	        		alert("保存成功！");
	            },
	            error: function(data){
	                alert("保存失败！");
	            }
	        });
	        return false; //阻止表单默认提交
	    }); 

		$("#xtSsglSave").on("click", XtSsglEdit.xtSsglFormSubmit());
		$("#xtSsglSaveAck").on("click", XtSsglEdit.xtSsglFormSubmitAck());
		if(CKEDITOR.instances['editor1']){
			  CKEDITOR.remove(CKEDITOR.instances['editor1']); 
		} 
        CKEDITOR.replace("editor1");

        var map = new AMap.Map("ssljMap", {
        	level : 13
        });	

        if($("#sslj").val()){
        	var pathArry = new Array();
        	var paths = $("#sslj").val().split(";");
        	$(paths).each(function(i, path){
        		pathArry.push(path.split(","))
        	});
            var polyline = new AMap.Polyline({
                path: pathArry
            });
            polyline.setMap(map);
            map.setFitView();
        }
        
        var mouseTool = new AMap.MouseTool(map);
        AMap.event.addDomListener(document.getElementById('polylineTools'), 'click', function() {
        	map.clearMap();
        	mouseTool.close(true);
            mouseTool.polyline();
        }, false);
        
        AMap.event.addListener( mouseTool, "draw", function(e){
        	var polylines = map.getAllOverlays("polyline");
        	if(polylines){
        		//alert(polylines[0].getPath());
        		$("#sslj").val(polylines[0].getPath().join(";"));
        	}
        })
        
	});
</script>
<!-- END JAVASCRIPTS -->
