<div class="container-fluid">
	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
				赛事管理 <small>$!xtSsgl.ssmc</small>
			</h3>
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="index.htm">首页</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">赛事管理</a><i class="icon-angle-right"></i></li>
				<li><a href="#">新增赛事岗位</a></li>
				<li class="pull-right no-text-shadow">
					<div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
						<i class="icon-calendar"></i>
						<span></span>
						<i class="icon-angle-down"></i>
					</div>
				</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
			<button id="xtSsgwList1" class="btn black">
			返回 <i class="icon-arrow-left"></i>
			</button>
			<button id="xtSsgwSave" class="btn blue">
			保存 <i class="icon-shopping-cart"></i>
			</button>
			<br/><br/>
			<form id="xtSsgwForm" action="xtSsgwSave.htm" class="form-horizontal" method="POST">
				<input type="hidden" name="id" value="$!xtSsgw.id">
				<input type="hidden" name="ssid" id="ssid" value="$!xtSsgl.id">
				 	<div class="control-group">
					<label class="control-label">岗位名称:</label>
					<div class="controls">
						<input class="m-wrap medium" type="text" name="gwmc" value="$!xtSsgw.gwmc">
						<span class="help-inline"><font color="red">*</font></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">岗位数量:</label>
					<div class="controls">
						<input class="m-wrap medium" type="text" name="gwsl"value="$!xtSsgw.gwsl">
						<span class="help-inline"><font color="red">*</font></span>
					</div>
				</div>
			</form>
			
			<br/>
		</div>
	</div>
</div>


<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
 
 


<!-- END PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="../media/js/select2.min.js"></script>
<script type="text/javascript" src="../media/js/jquery.form.js"></script>
<script>
	jQuery(document).ready(function() { 
	
		 $("#xtSsgwList1").on("click",function(){xtSsglList.xtSsgwList("$!xtSsgl.id")});
		 $("#xtSsjjySave").on("click", XtSsgwEdit.xtSsgwFormSubmit());
		//$("#xtSsgwList").on("click", XtSsgwEdit.xtSsgwListOnClick());
		 $('#xtjjrySelect1').select2({
	         placeholder: "选择一个类型",
	         allowClear: true
	     	}); 
		$('#xtSsgwForm').submit(function() {
		
	        $(this).ajaxSubmit({
	        	success: function(data){
	        		alert("保存成功！");
	            },
	            error: function(data){
	                alert("保存失败！");
	            }
	        });
	        
	        return false; //阻止表单默认提交
	    }); 

		$("#xtSsgwSave").on("click", XtSsgwEdit.xtSsgwFormSubmit());
		
	});
</script>
<!-- END JAVASCRIPTS -->
