<div class="container-fluid">
	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
				赛事管理  
			</h3>
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="index.htm">首页</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">赛事管理</a></li>
				<li class="pull-right no-text-shadow">
					<div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
						<i class="icon-calendar"></i>
						<span></span>
						<i class="icon-angle-down"></i>
					</div>
				</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
			<div style="float:left;">
			<button id="xtssglEdit" class="btn green">
			新增 <i class="icon-plus"></i>
			</button>
			</div>
			
			<div style="float:right;">
			<form id="xtSsglSeach">
			<select class="small m-wrap" tabindex="1" name="zt">
				<option value="">全部</option>
				<option value="1">已发布</option>
				<option value="0">待发布</option>
			</select>
			<input placeholder="赛事名称" class="m-wrap medium" type="text" name="ssmc"/>
			</form>
			</div>
			
			<table id="xtSsglFlexigrid" style="display: none" />
			<br/>
		</div>
	</div>
</div>
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN PAGE LEVEL PLUGINS -->   
 <script type="text/javascript" src="../media/js/flexigrid.js"></script>
<!-- END PAGE LEVEL PLUGINS -->

<script>

	jQuery(document).ready(function() {  
		xtSsglList.init();
		$("#xtssglEdit").on("click", xtSsglList.xtSsglEditOnClick());
		$('#xtSsglSeach').submit(function() {
			xtSsglList.xtSsglSeach()
	        return false; //阻止表单默认提交
	    });
	});
	
</script>
<!-- END JAVASCRIPTS -->
