<div class="container-fluid">
	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
				赛事管理 <small>$!xtSsgl.ssmc</small>
			</h3>
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="index.htm">首页</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">赛事管理</a><i class="icon-angle-right"></i></li>
				<li><a href="#">新增赛事岗位</a></li>
				<li class="pull-right no-text-shadow">
					<div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
						<i class="icon-calendar"></i>
						<span></span>
						<i class="icon-angle-down"></i>
					</div>
				</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
			<button id="xtSsgwList1" class="btn black">
			返回 <i class="icon-arrow-left"></i>
			</button>
			<button id="xtSsgwSave" class="btn blue">
			保存 <i class="icon-shopping-cart"></i>
			</button>
			<br/><br/>
			<form id="xtSsgwForm" action="xtSsgwSave.htm" class="form-horizontal" method="POST">
				<input type="hidden" name="id" value="$!xtSsgw.id">
				<input type="hidden" name="ssid" id="ssid" value="$!xtSsgl.id">
				<input type="hidden" name="dw" id="xtSsgwDw" value="$!xtSsgw.dw">
				<input type="hidden" name="img" id="xtSsgwImg" value="$!xtSsgw.img">
				<div class="control-group">
					<label class="control-label">岗位名称:</label>
					<div class="controls">
						<input class="m-wrap medium" type="text" name="gwmc" value="$!xtSsgw.gwmc">
						<span class="help-inline"><font color="red">*</font></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">岗位数量:</label>
					<div class="controls">
						<input class="m-wrap medium" type="text" name="gwsl"value="$!xtSsgw.gwsl">
						<span class="help-inline"><font color="red">*</font></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">岗位打点</label>
					<div class="controls">
						<div id="ssljMap" style="width:100%;height:400px;"></div>
						<div  style="position:absolute;margin-top:-400px;  z-index:100;">
							<a class="btn blue" href="javascript:;" id="cleanTools">
								<i class="icon-delete"></i> 点击清除图标
							</a>
						</div>
					</div>
				</div>
			</form>
			
			<br/>
		</div>
	</div>
</div>

<div id="infoWindow" class="hide">
<table style="border:1px gray solid inset;">
  <tr height="30px;">
	<td width="150px;" align="center"><div><img src="../media/image/bj1.png" style="cursor:pointer" onclick="getDotIcon('bj1.png')"/></div><div>补给点1</div></td>
	<td width="150px;" align="center"><div><img src="../media/image/bj2.png" style="cursor:pointer" onclick="getDotIcon('bj2.png')"/></div><div>补给点2</div></td>
	<td width="150px;" align="center"><div><img src="../media/image/bj3.png" style="cursor:pointer" onclick="getDotIcon('bj3.png')"/></div><div>补给点3</div></td>
	<td width="150px;" align="center"><div><img src="../media/image/dot1.png" style="cursor:pointer" onclick="getDotIcon('dot1.png')"/></div><div>dot1</div></td>
	<td width="150px;" align="center"><div><img src="../media/image/dot2.png" style="cursor:pointer" onclick="getDotIcon('dot2.png')"/></div><div>dot2</div></td>
  </tr>
  <tr height="30px;">
	<td align="center"><div><img src="../media/image/dot3.png" style="cursor:pointer" onclick="getDotIcon('dot3.png')"/></div><div>dot3</div></td>
	<td align="center"><div><img src="../media/image/dot4.png" style="cursor:pointer" onclick="getDotIcon('dot4.png')"/></div><div>dot4</div></td>
	<td align="center"><div><img src="../media/image/dot5.png" style="cursor:pointer" onclick="getDotIcon('dot5.png')"/></div><div>dot5</div></td>
	<td align="center"><div><img src="../media/image/dot6.png" style="cursor:pointer" onclick="getDotIcon('dot6.png')"/></div><div>dot6</div></td>
	<td align="center"><div><img src="../media/image/end.png" style="cursor:pointer" onclick="getDotIcon('end.png')"/></div><div>结束点1</div></td>
  </tr>
  <tr height="30px;">
	<td align="center"><div><img src="../media/image/end2.png" style="cursor:pointer" onclick="getDotIcon('end2.png')"/></div><div>结束点2</div></td>
	<td align="center"><div><img src="../media/image/end3.png" style="cursor:pointer" onclick="getDotIcon('end3.png')"/></div><div>结束点3</div></td>
	<td align="center"><div><img src="../media/image/qd1.png" style="cursor:pointer" onclick="getDotIcon('qd1.png')"/></div><div>签到点1</div></td>
	<td align="center"><div><img src="../media/image/qd2.png" style="cursor:pointer" onclick="getDotIcon('qd2.png')"/></div><div>签到点2</div></td>
	<td align="center"><div><img src="../media/image/qd3.png" style="cursor:pointer" onclick="getDotIcon('qd3.png')"/></div><div>签到点3</div></td>
  </tr>
  <tr height="30px;">
	<td align="center"><div><img src="../media/image/qd4.png" style="cursor:pointer" onclick="getDotIcon('qd4.png')"/></div><div>签到点4</div></td>
	<td align="center"><div><img src="../media/image/start.png" style="cursor:pointer" onclick="getDotIcon('start.png')"/></div><div>开始点1</div></td>
	<td align="center"><div><img src="../media/image/start2.png" style="cursor:pointer" onclick="getDotIcon('start2.png')"/></div><div>开始点2</div></td>
	<td align="center"><div><img src="../media/image/start3.png" style="cursor:pointer" onclick="getDotIcon('start3.png')"/></div><div>开始点3</div></td>
	<td align="center"><div><img src="../media/image/yl1.png" style="cursor:pointer" onclick="getDotIcon('yl1.png')"/></div><div>医疗1</div></td>
  </tr>  
  <tr height="30px;">
	<td align="center"><div><img src="../media/image/yl2.png"  style="cursor:pointer" onclick="getDotIcon('yl2.png')"/></div><div>医疗2</div></td>
	<td align="center"><div><img src="../media/image/yl3.png"  style="cursor:pointer" onclick="getDotIcon('yl3.png')"/></div><div>医疗3</div></td>
	<td align="center"><div><img src="../media/image/zh1.png"  style="cursor:pointer" onclick="getDotIcon('zh1.png')"/></div><div>指挥车1</div></td>
	<td align="center"><div><img src="../media/image/zh2.png"  style="cursor:pointer" onclick="getDotIcon('zh2.png')"/></div><div>指挥车2</div></td>
	<td align="center"></td>
  </tr>
  </table>
</div>

<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
 
 


<!-- END PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="../media/js/select2.min.js"></script>
<script type="text/javascript" src="../media/js/jquery.form.js"></script>
<script>

	var map = new AMap.Map("ssljMap", {
		level : 13
	});	
	var infoWindow = new AMap.InfoWindow({
		offset : new AMap.Pixel(0, -30)
	});
	var lnglat = null;
	var markers = [];
	jQuery(document).ready(function() { 
	
		 $("#xtSsgwList1").on("click",function(){xtSsglList.xtSsgwList("$!xtSsgl.id")});
		 $("#xtSsjjySave").on("click", XtSsgwEdit.xtSsgwFormSubmit());
		//$("#xtSsgwList").on("click", XtSsgwEdit.xtSsgwListOnClick());
		 $('#xtjjrySelect1').select2({
	         placeholder: "选择一个类型",
	         allowClear: true
	     	}); 
		$('#xtSsgwForm').submit(function() {
		
	        $(this).ajaxSubmit({
	        	success: function(data){
	        		if(data.exception){
	        			alert(data.exception)
	        		}else{
	        			alert("保存成功！");
	        		}
	            },
	            error: function(data){
	                alert("保存失败！");
	            }
	        });
	        
	        return false; //阻止表单默认提交
	    }); 

		$("#xtSsgwSave").on("click", XtSsgwEdit.xtSsgwFormSubmit());
		
		 #if($!xtSsgl.sslj)
			var sslj = "$!xtSsgl.sslj";
			var pathArry = new Array();
			var paths = sslj.split(";");
			$(paths).each(function(i, path) {
				pathArry.push(path.split(","))
			});
			var polyline = new AMap.Polyline({
				path : pathArry
			});
			polyline.setMap(map);
			
			#if($!xtSsgw.dw)
				var dw = "$!xtSsgw.dw";
				var marker = new AMap.Marker({
					icon : "../media/image/$!xtSsgw.img",
					position : dw.split(",")
				});
				marker.setMap(map);
			#end
			
			map.setFitView();
		 #end

		infoWindow.setContent($("#infoWindow").html());
	    var clickEventListener = map.on('click', function(e) {
	    	lnglat = e.lnglat;
	        infoWindow.open(map, e.lnglat);
	    });
	    
	    $("#cleanTools").on("click", function(){
	    	map.remove(markers);
	    	$("#xtSsgwImg").val("");
	    	$("#xtSsgwDw").val("");
	    });
	    
	});
	
	var getDotIcon = function(icon){
		$("#xtSsgwImg").val(icon)
		$("#xtSsgwDw").val(lnglat.toString())
		map.remove(markers);
		markers = [];
		var marker = new AMap.Marker({
					icon : "../media/image/" + icon,
					position : lnglat
		});
		marker.setMap(map);
		markers.push(marker);
		infoWindow.close();
	}
</script>
<!-- END JAVASCRIPTS -->
