<div class="container-fluid">
	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
				赛事管理 <small>$!xtSsgl.ssmc</small>
			</h3>
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="index.htm">首页</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li>
					<a href="#">赛事管理</a>
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">赛事统计</a></li>
				<li class="pull-right no-text-shadow">
					<div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
						<i class="icon-calendar"></i>
						<span></span>
						<i class="icon-angle-down"></i>
					</div>
				</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
			<div>
			<button id="raceList" class="btn black">
			返回 <i class="icon-arrow-left"></i>
			</button>
			</div>
			<br/>

				<!-- BEGIN SAMPLE TABLE PORTLET-->

				<div class="portlet box red">
					<div class="portlet-title">
						<div class="caption"><i class="icon-cogs"></i>统计</div>
					</div>

					<div class="portlet-body">
						<table class="table table-hover">
							<thead>
								<tr>
									
									<th>内部急救人员数量</th>
									<th>志愿者数量</th>
									<th>突发情况数量</th>
									<th>处理数量</th>
									<th>事件取消数量</th>
								</tr>
							</thead>
							<tbody>
							#foreach($sstj in $xtSstj)
								<tr>
									<td>$!sstj.num1</td>
									<td>$!sstj.num2</td>
									<td>$!sstj.num3</td>
									<td>$!sstj.num4</td>
									<td>$!sstj.num5</td>
								</tr>
							#end
							</tbody>
						</table>
					</div>
				</div>
			<br/>
		</div>
	</div>
</div>
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN PAGE LEVEL PLUGINS -->   
<!-- END PAGE LEVEL PLUGINS -->

<script>
	jQuery(document).ready(function() {    
		 
		$("#raceList").on("click", XtSsglEdit.xtSsglListOnClick());
	});
</script>
<!-- END JAVASCRIPTS -->
