<div class="container-fluid">
	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
				比赛用设备管理 <small>设备管理</small>
			</h3>
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="index.html">首页</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">比赛用设备管理</a><i class="icon-angle-right"></i></li>
				<li><a href="#">新增设备</a></li>
				<li class="pull-right no-text-shadow">
					<div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
						<i class="icon-calendar"></i>
						<span></span>
						<i class="icon-angle-down"></i>
					</div>
				</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
			<button id="sbList" class="btn black">
			返回 <i class="icon-arrow-left"></i>
			</button>
			<button id="raceSaveCart" class="btn blue">
			保存<i class="icon-share"></i>
			</button>
			<br/><br/>
			<form id="fileupload" action="#" class="form-horizontal" method="POST" enctype="multipart/form-data">
				<div class="control-group">
					<label class="control-label">设备类型</label>
					<div class="controls">
						<select id="xtbsysbSelect" class="span6 select2" name="lbid">
							#foreach($xtDmlb in $XtDmbList)
								<option value="$!xtDmlb.sblx" #if("$!xtDmlb.sblx"=="$!xtGydm.lbid") selected #end>$!xtDmlb.dmmc</option>
							#end
						</select>

					</div>
				</div>
				<div class="control-group">
					<label class="control-label">设备编号:</label>
					<div class="controls">
						<input class="m-wrap medium" type="text" name="xm">
						<span class="help-inline"><font color="red">*</font></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">设备状态</label>
					<div class="controls">
						<select id="select2_sample2" class="span6 select2 medium">
							<option value="">可用</option>
							<option value="1">不可用</option>
						</select>

					</div>
				</div>
			</form>
			
			<br/>
		</div>
	</div>
</div>


<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN PAGE LEVEL PLUGINS -->   
<!-- END PAGE LEVEL PLUGINS -->

<script>
	jQuery(document).ready(function() {   
		$("#page-content").height($(document).height() - 80)
	   $("#sbList").on("click", SbEdit.sbListOnClick());
	});
	 $('#xtbsysbSelect').select2({
         placeholder: "选择一个类型",
         allowClear: false
     });
</script>
<!-- END JAVASCRIPTS -->
